<!DOCTYPE html>
<html>
<head>

  <title>Focus</title>
  <meta name="description" content="A cool thing made with HyperDev">
  <link id="favicon" rel="icon" href="https://hyperdev.com/favicon.ico" type="image/x-icon">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://code.jquery.com/jquery-2.2.1.min.js"
  integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
  crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
  <script src="https://use.fontawesome.com/d5a570f79a.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">

</head>

<body>
  <div id="header">
    <div id="headerWMargin">
      <p id="titreHeader"><i class="fa fa-cloud" aria-hidden="true"></i> Remember<span id="statut"></span></p>
      <!-- <button id="testButton" class="generalRoundButton">Test</button> -->
    </div>
  </div>

  <div class="clearfix"></div>

<div id="bodyGlobal"> <br>

   <img id="img1" alt="Château du Taureau" width="100%" height="auto" src="http://82.239.100.156:8000/<%= idfile %>">

   <div class="container-fluid">
     <div class="row row-eq-height">
       <div id="descriptionPanel" class="col-xs-6">
         <p class="titre1"><%= titre %></p>
         <p class='titre2'><i id="icones" class="fa fa-map-marker" aria-hidden="true"></i><%= lieu %></p>
         <p class="titre2"><i id="icones" class="fa fa-calendar" aria-hidden="true"></i><%= date %></p>
         <p style="font-size: 10px">Souvenir id <%= idSvnr %></p>
       </div>
       <div id="socialPanel" class="col-xs-6" style="background-color:white;">
         <p class="titre1"><%= presentfriends %></p>
         <p class="titre2"><%= sharedfriends %></p>
         <p class="titre2"><%= linkedtoid %></p>
         <!-- <p>Views <span class="badge">5</span></p> -->
       </div>

     </div>
   </div>

   <div class="container-fluid">
     <div class="row">
       <div id="detailsPanel" class="col-sm-12" style="background-color:#404040;">
         <p class="titre1">Plus</p>
         <p class="titre2">Commentaires à venir...</p><br>
         <p class="titre2" id="hashtagsPlace"><span class="badge" id='hashtagsSpan'>
           <%= hashtags %></span></p>
         </div>
     </div>
   </div>

  <button type="button" class="btn btn-danger" id="supprButton">
    <i id="icones" class="fa fa-trash-o" aria-hidden="true" ></i>Supprimer</button>
  <!-- <button type="button" class="btn btn-warning">
    <i class="fa fa-pencil" aria-hidden="true"></i>
    Modifier
  </button> -->


</div>

<link rel="stylesheet" href="/styleGeneral.css">
<link rel="stylesheet" href="/styleFocus.css">
<script type="text/javascript" src="/focus.js"></script>

</body>
</html>
