
<!-- 1 = UNE VALEUR URL A CHANGER -->

<!DOCTYPE html>
<html>
<head>

  <title>Focus</title>
  <meta name="description" content="A cool thing made with HyperDev">
  <meta name="theme-color" content="#0D47A1">
  <link id="favicon" rel="icon" href="https://hyperdev.com/favicon.ico" type="image/x-icon">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://code.jquery.com/jquery-2.2.1.min.js"
  integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
  crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
  <script src="https://use.fontawesome.com/d5a570f79a.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>

  <section class="trueBody">

  <div id="myFHeader" class="FtransparentHeader">
    <a href='/'><i class="material-icons">keyboard_arrow_left</i></a>
  </div>

      <div id="creatorDiv">
        <img class="creatorDivPicture" src="/<%= f.createdBy[0].photo_address %>" alt="photo de profil">
        <div id="creatorDivInfo">
          <p id="svnrTitre"><%= f.titre %></p>
          <p id="svnrDate"></p>
        </div>
      </div>

      <img class="svnrImg" src="/<%= f.file_address %>">
      <!-- NOTE: img carte -->

      <p class="chapterP">Avec</p>

      <div id="avecDiv">
        <div id="presentFriendsDiv">
          ici photos des present friends
        </div>
      </div>

      <div id="descriptionDiv">
        <div id="descDivTxt">
          <p style="font-size: 13px; font-weight:800">Description</p>
          <p><%= f.description %></p>
        </div>
        <div id="sharedDiv">
          <p class="chapterP" style='color:black; margin-left:0'>Partagé avec</p>
        </div>
      </div>

      <p class="chapterP">Anecdotes</p>

      <div id="anecdoteDiv">
        <div class="anecdoteDivTxt">
          <div class="anecdoteDivTxtLeft">
            <img src="/<%= f.createdBy[0].photo_address %>" class="creatorDivPicture anecdotePic">
          </div>
          <div class="anecdoteDivTxtRight">
Aximus est reptaque por ad moluptatum dolestiberum qui- busam et aut aped magnam aut omnimil laboreicabo. Disi- mi, quas eatus et et unt re non porior siti ut a sin et et aut l
          </div>
        </div>
        <div class="anecdoteDivTxt">
          <div class="anecdoteDivTxtLeft">
            <img src="/<%= f.createdBy[0].photo_address %>" class="creatorDivPicture anecdotePic">
          </div>
          <div class="anecdoteDivTxtRight">
i dolutes cullam, comnim aceaquias et molorem rehendae voluptate natum fugitae nonet fuga. Vitaers pidunt oditior emolu- picia aut in nullaboribus autatem int, sunt eate nonsequam, tet quia- ti beat eum qui doluptae. Nus, quam res il il ma int omnisquatur? Agnis aceprorionet earunto elictae peliatquam, ulparum laccum utenis excesto maximet uriscius dite late sus des et ducidis aliquiam fugit mo- lore evelibe rspedi od ma aspicipsus adias quibusam explatet erio beritat. Archill acculpa sum etur aut evel ipiet hiciaep           </div>
        </div>
      </div>

    </section>

    <script>
      var _svnr = "<%= f._id %>";
      var _date = "<%= f.svnr_date %>";
    </script>





    <!-- NOTE: OLD -->

<!-- <div id="imgDiv">

</div>
<div id="mapNdate">
  <div id="map">
  </div>
  <div id="date">
  </div>
</div>

<div id="DescDiv">
</div>
<div id="socialDiv">
  <div id="sharedDiv">
    Partagé avec
    <div id="socialSubDiv">
      <button onclick="openSharedFriendPanel('')" id="addSharedFriend">+</button>
    </div>
  </div>
</div>





<div id="bottomDiv">
  <a href="/"><i class="large material-icons">mode_edit</i></a>

</div>

<div id="popupDiv">
  <div id="titrepopup">
  </div>
  <div id="variablepopup">
  </div>
</div> -->

</body>

<script type="text/javascript" src='/jquery.transit.min.js'></script>
<!-- <link rel="stylesheet" href="/mobileGeneral.css"> -->
<link rel="stylesheet" href="/mobileFocus.css">
<script type="text/javascript" src="/mobileFocus.js"></script>

</html>
