
<!-- 1 = UNE VALEUR URL A CHANGER -->

<!DOCTYPE html>
<html>
<head>

  <title>Focus</title>
  <meta name="description" content="A cool thing made with HyperDev">
  <meta name="theme-color" content="#0D47A1">
  <link id="favicon" rel="icon" href="https://hyperdev.com/favicon.ico" type="image/x-icon">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://code.jquery.com/jquery-2.2.1.min.js"
  integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
  crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
  <script src="https://use.fontawesome.com/d5a570f79a.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>

  <section class="FtransparentHeader">
    <a href="/">
      <i class="material-icons">keyboard_backspace</i>
    </a>
    <i class="material-icons">mode_edit</i>
  </section>

  <section class="trueBody">

    <div id="creatorDiv">
     <img class="creatorDivPicture" src="/<%= f.createdBy[0].photo_address %>" alt="photo de profil">
   <div id="creatorDivInfo">
   <p id="svnrTitre"> <%= f.titre %> </p>
   <p id="svnrDate">le <%= f.svnr_date_in.day %> <%= f.svnr_date_in.month %> <%= f.svnr_date_in.year %></p>
   </div>
   </div>

   <img class="svnrImg" src="/<%= f.file_address %>">

   <p class="chapterP">Avec</p>

   <div id="avecDiv">
   <div id="presentFriendsDiv">
         ici photos des present friends
   </div>
   </div>
   <div id="descriptionDiv">
   <div id="descDivTxt">
   <p style="font-size: 13px; font-weight:800">Description</p>
     <p><%= f.description %></p>
      </div>
      <div id="sharedDiv">
        <p class="chapterP" style="color:black; margin:0 2px 0 2px">Partagé avec</p>
         <div id="sharedDivDiv">
           <% for (var i=0; i<f.sharedFriends.length; i++) { %>
               <img src="/<%= f.sharedFriends[i].photo_address %>" class="creatorDivPicture">
          <% }; %>
          <button onclick="displayAllMyFriends()" class="gradButton addFriendBtn">+</button>
          </div>
       </div>
     </div>

    <p class="chapterP">Anecdotes</p>

    <div id="anecdoteDiv">
     </div>

    <div id="anecdoteInputDiv" class="anecdoteDivTxt">
      <div class="anecdoteDivTxtLeft">
   // BUG: CHANGER LA PHOTO
        <img src="" class="creatorDivPicture anecdotePic">
      </div>
      <div class="anecdoteDivTxtRight" style="display:flex; flex-direction:row">
        <textarea id="anecdoteInput" placeholder="Ajouter une anecdote...">
        </textarea>
        <button onclick="submitAnecdote(' "'"  f._id  "'" ')" class="gradButton" id="submitAnecdoteBtn">
           <i class="material-icons" id="sendIcon">send</i>
        </button>
      </div>
    </div>



    </section>

    <script>
    </script>





    <!-- NOTE: OLD -->

<!-- <div id="imgDiv">

</div>
<div id="mapNdate">
  <div id="map">
  </div>
  <div id="date">
  </div>
</div>

<div id="DescDiv">
</div>
<div id="socialDiv">
  <div id="sharedDiv">
    Partagé avec
    <div id="socialSubDiv">
      <button onclick="openSharedFriendPanel('')" id="addSharedFriend"></button>
    </div>
  </div>
</div>





<div id="bottomDiv">
  <a href="/"><i class="large material-icons">mode_edit</i></a>

</div>

<div id="popupDiv">
  <div id="titrepopup">
  </div>
  <div id="variablepopup">
  </div>
</div> -->

</body>

<script type="text/javascript" src='/jquery.transit.min.js'></script>
<!-- <link rel="stylesheet" href="/mobileGeneral.css"> -->
<script type="text/javascript" src="/mobileFocus.js"></script>

<link rel="stylesheet" href="/styleGeneral.css">
<link rel="stylesheet" href="/mobileFocus.css">


</html>
